<section id="resume" class="resume section">
    <div class="container section-title" data-aos="fade-down">
        <h2>Resume</h2>
        <div class="title-shape">
            <svg viewBox="0 0 200 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M 0,10 C 40,0 60,20 100,10 C 140,0 160,20 200,10" fill="none" stroke="currentColor"
                    stroke-width="2"></path>
            </svg>
        </div>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
            <div class="col-md-7">
                <div class="resume-wrapper">
                    <div class="resume-block" data-aos="fade-up">
                        <h2>Work Experience</h2>
                        <br>
                        <div class="timeline">
                            <div class="timeline-item" data-aos="fade-up" data-aos-delay="200">
                                <div class="timeline-left">
                                    <h4 class="company">PT. Bumi Arta Sedayu</h4>
                                    <span class="period">Nov 2024 - Current</span>
                                </div>
                                <div class="timeline-dot"></div>
                                <div class="timeline-right">
                                    <h3 class="position">Jr. IT Developer</h3>
                                    <p class="description"></p>
                                    <ul>
                                        <li>Developed a CRM application for monitoring Leads data
                                            and Sales Reports using .NET Framework</li>
                                        <li>Developed a web-based application for Unit Development
                                            Planning and Design needs</li>
                                        <li>Designing a chatbot application with Gemini AI and WhatsApp
                                            integration using the Express.js Framework.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline-item" data-aos="fade-up" data-aos-delay="300">
                                <div class="timeline-left">
                                    <h4 class="company">PT. Denso Manufacturing Indonesia</h4>
                                    <span class="period">Dec 2023-May 2024</span>
                                </div>
                                <div class="timeline-dot"></div>
                                <div class="timeline-right">
                                    <h3 class="position">Web Programmer</h3>
                                    <ul>
                                        <li>Designing an Approval Management Application using CodeIgniter 3</li>
                                        <li>Designing an Usage History Application for Change History
                                            Management using the Laravel Framework</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline-item" data-aos="fade-up" data-aos-delay="400">
                                <div class="timeline-left">
                                    <h4 class="company">Dinas KominfoSantik</h4>
                                    <h4 class="company">Kab. Bekasi</h4>
                                    <span class="period">May - Jun 2023</span>
                                </div>
                                <div class="timeline-dot"></div>
                                <div class="timeline-right">
                                    <h3 class="position">IT Support</h3>
                                    <ul>
                                        <li>Maintenance of WAN and LAN networks</li>
                                        <li>LAN and fingerprint system installation</li>
                                        <li>Check network traffic status</li>
                                        <li>Prepare daily reports</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="resume-wrapper">
                        <div class="resume-block" data-aos="fade-up" data-aos-delay="100">
                            <h2>My Education</h2>
                            <br>
                            <div class="timeline">
                                <div class="timeline-item" data-aos="fade-up" data-aos-delay="200">
                                    <div class="timeline-left">
                                        <h4 class="company">Bani Saleh University</h4>
                                        <span class="period">2020-2024</span>
                                    </div>
                                    <div class="timeline-dot"></div>
                                    <div class="timeline-right">
                                        <h3 class="position">Bachelor of Information Technology</h3>
                                        <ul>
                                            <li>Developed a primary school student registration application
                                                using the CodeIgniter 4 Framework.</li>
                                            <li>Designed the Filmovie application to display movie details
                                                with TMDB API integration using the Flutter Framework.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="resume-wrapper">
                        <div class="resume-block" data-aos="fade-up" data-aos-delay="100">
                            <h2>Competition Experience</h2>
                            <br>
                            <div class="timeline">
                                <div class="timeline-item" data-aos="fade-up" data-aos-delay="200">
                                    <div class="timeline-left">
                                        <h4 class="company">INSYFEST</h4>
                                        <span class="period">Oct 2024</span>
                                    </div>
                                    <div class="timeline-dot"></div>
                                    <div class="timeline-right">
                                        <h3 class="position">Web Development</h3>
                                        <ul>
                                            <li>Built a Playground ticket booking application
                                                with email integration using the CodeIgniter 3 Framework.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline-item" data-aos="fade-up" data-aos-delay="200">
                                    <div class="timeline-left">
                                        <h4 class="company">ZAKATHON by BAZNAS RI</h4>
                                        <span class="period">Sept 2024</span>
                                    </div>
                                    <div class="timeline-dot"></div>
                                    <div class="timeline-right">
                                        <h3 class="position">Hackathon</h3>
                                        <ul>
                                            <li>Developed a Zakat, Infaq, Sadaqah, and Waqf distribution monitoring
                                                system with email integration using the CodeIgniter 3 Framework.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <h2 style="font-weight: 800;">Contributions</h2>
        </div>
        <div class="marquee-container">
            <div class="marquee">
                <img src="/img/companies/4.png" alt="Logo 4">
                <img src="/img/companies/1.png" alt="Logo 1">
                <img src="/img/companies/3.png" alt="Logo 3">
                <img src="/img/companies/2.png" alt="Logo 2">
                <img src="/img/companies/6.png" alt="Logo 6">
                <img src="/img/companies/5.png" alt="Logo 5">
            </div>
        </div>
    </div>
</section>