<section id="services" class="services section">
    <div class="container section-title" data-aos="fade-down">
        <h2>Services</h2>
        <div class="title-shape">
            <svg viewBox="0 0 200 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M 0,10 C 40,0 60,20 100,10 C 140,0 160,20 200,10" fill="none" stroke="currentColor"
                    stroke-width="2"></path>
            </svg>
        </div>
        <p>I offer custom web application development services, focusing on efficient solutions designed
            for optimal user experience and helping businesses achieve their digital goals.</p>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="fw-bold mb-4 servies-title">Transforming Your Ideas into Functional Web Solutions.</h2>
                <p class="mb-4">Need a custom web application? I can help turn your ideas into a functional 
                    and engaging digital product.</p>
                <p href="#" class="btn btn-outline-primary">See all services <i class="bi bi-arrow-right ms-2"></i></p>
            </div>
            <div class="col-lg-8">
                <div class="row g-4">
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item">
                            <i class="bi bi-laptop icon"></i>
                            <h3 style="font-weight: 700;">Custom Web Design</h3>
                            <p>Bring your ideal online presence to life.</p>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item">
                            <i class="bi bi-cpu icon"></i>
                            <h3 style="font-weight: 700;">Professional Web Apps</a></h3>
                            <p>Propel your business forward with powerful applications.</p>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item">
                            <i class="bi bi-stack icon"></i>
                            <h3 style="font-weight: 700;">Responsive Web Development</h3>
                            <p>Experience superior functionality on any device.</p>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="service-item">
                            <i class="bi bi-graph-up-arrow icon"></i>
                            <h3 style="font-weight: 700;">Tailored Web Solutions</h3>
                            <p>Get a custom web solution for every business need.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>