<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-content scroll-div">

            <div class="">
                <div class="main-menu-header">
                    <img class="img-radius" src="/flat-able/dist/assets/images/user/avatar-2.jpg"
                        alt="User-Profile-Image">
                    <div class="user-details">
                        <span>Admin</span>
                        <div id="more-details">Administrator<i class="fa fa-chevron-down m-l-5"></i></div>
                    </div>
                </div>
                <div class="collapse" id="nav-user-link">
                    <ul class="list-unstyled">
                        <li class="list-group-item"><a href="#!"><i class="feather icon-user m-r-5"></i>View Profile</a>
                        </li>
                        <li class="list-group-item"><a href="#!"><i class="feather icon-settings m-r-5"></i>Settings</a>
                        </li>
                        <li class="list-group-item"><a href="/"><i class="feather icon-log-out m-r-5"></i>Back to
                                Site</a></li>
                    </ul>
                </div>
            </div>

            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li class="nav-item">
                    <a href="/centralize" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Content Management</label>
                </li>
                <li class="nav-item">
                    <a href="/centralize/projects" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-briefcase"></i></span><span class="pcoded-mtext">Projects</span></a>
                </li>
                <li class="nav-item">
                    <a href="/centralize/skills" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-sliders"></i></span><span class="pcoded-mtext">Skills</span></a>
                </li>
                <li class="nav-item">
                    <a href="/centralize/messages" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-mail"></i></span><span class="pcoded-mtext">Messages</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Setup</label>
                </li>
                <li class="nav-item">
                    <a href="/centralize/smtp" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-settings"></i></span><span class="pcoded-mtext">SMTP Conf.</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Other</label>
                </li>
                <li class="nav-item">
                    <a href="/" target="_blank" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-globe"></i></span><span class="pcoded-mtext">View Website</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>