<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-content scroll-div">


            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li class="nav-item">
                    <a href="/centralize" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Content Management</label>
                </li>
                <li class="nav-item">
                    <a href="/centralize/projects" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-briefcase"></i></span><span class="pcoded-mtext">Projects</span></a>
                </li>
                <li class="nav-item">
                    <a href="/centralize/skills" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-sliders"></i></span><span class="pcoded-mtext">Skills</span></a>
                </li>
                <li class="nav-item">
                    <a href="/centralize/messages" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-mail"></i></span><span class="pcoded-mtext">Messages</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Setup</label>
                </li>
                <li class="nav-item">
                    <a href="/centralize/smtp" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-settings"></i></span><span class="pcoded-mtext">SMTP
                            Conf.</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Other</label>
                </li>
                <li class="nav-item">
                    <a href="/" target="_blank" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-globe"></i></span><span class="pcoded-mtext">View Website</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>